*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; 
    color: #333;
}

/* Header */
header {
    background-color: #f8f9fa;
    padding: 15px 20px;
    margin: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: #212222 solid 1.1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    position: relative;
    z-index: 10; 
}

.menu-checkbox {
    display: none;
}

.menu-toggle {
    font-size: 2rem;
    color: #1787f7;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    transition: transform 0.3s;
    z-index: 11; 
}

.menu-toggle:hover {
    transform: rotate(90deg);
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-menu a:hover {
    background-color: #51f9ff;
    transform: scale(1.1);
}

.nav-menu a.active {
    background-color: #28a745;
    color: #fff;
}

/* Subrayado animado */
.nav-menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #89898b;
    transition: width 0.3s;
    margin-top: 2px;
}

.nav-menu a:hover::after {
    width: 100%;
}

/* Media queries */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        z-index: 11;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(179, 178, 178, 0.8);
        border-top: 1px solid #f8f9fa;
        padding: 2px 0;
    }

    .menu-checkbox:checked + .menu-toggle + .nav-menu {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-menu li {
        margin: 2px 0;
    }

    .nav-menu a {
        padding: 2px;
        width: 100%;
        color: #ffffff; 
        background-color: transparent;
        border: none;
    }

    .nav-menu a:hover {
        background-color: #51f9ff;
        color: #000;
    }
}


/* Main Content */


.MV {
    display: flex;
    flex-direction: row;
    margin: 40px;
    padding: 25px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;
}

.MV:hover {
    transform: scale(1.05); 
}

.mision, .vision {
    text-align: center;
    border: 1px solid #212222; 
    border-radius: 25px;
    margin: 50px;
    padding: 1rem;
    background-color: #fff;
}

.mision:hover, .vision:hover {
    transform: scale(1.05); 
}

.tit-servi {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.parra-ser {
    margin: 25px;
    padding: 20px;
    text-align: justify;
    font-size: 1rem;
}

/* Servicios */
.SERVICIOS {
    margin: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;
}

.SERVICIOS:hover {
    transform: scale(1.05); 
}

.SERVICIOS .div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.SERVICIOS img {
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;
}

.SERVICIOS img:hover {
    transform: scale(1.05); 
}

/* Footer */
.footer h2{
    text-align: center;
    
}
.footer .direc{
    margin-left: 500px;
}

.Contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn a{
    color: #000;
    text-decoration: none;
    list-style-type: none;
}

.DERECHOS {
    color: rgb(0, 26, 255);
    background-color: rgb(185, 179, 179);
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}

/* Responsiveness */
@media (max-width: 1024px) {
    .MV {
        flex-direction: column;
    }

    .SERVICIOS .div {
        flex-direction: column;
        align-items: center;
    }

    .parra-ser {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    body {
        padding: 5px;
    }

    .MV .mision p{
        margin: 0;
        text-align: justify;
        font-size: 1.2rem;
    }

    .MV .vision p{
        margin: 0;
        text-align: justify;
        font-size: 1.2rem;
    }

    .SERVICIOS .div {
        margin: 0;
    }

    .SERVICIOS .div img{
        margin: 0;
        padding: 5px;
        margin: 2px;
        box-shadow: 0;
    }

    .tit-servi {
        font-size: 1.8rem;
    }

    .parra-ser {
        font-size: 1.4rem;
    }
    
    .footer .direc{
        margin-left: 0px;
    }
    
    .Contacto{
        flex-direction: column;
        align-items: center;
    }
}
